/* Write your global styles here, in PostCSS syntax */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
