[package]
name = "opengoal-launcher"
version = "2.1.4" # APP_VERSION
description = "A frontend for the OpenGOAL project"
authors = ["OpenGOAL"]
license = "ISC"
repository = "https://github.com/open-goal/launcher"
default-run = "opengoal-launcher"
edition = "2021"
rust-version = "1.61"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.4.0", features = [] }

[dependencies]
backtrace = "0.3.68"
chrono = "0.4.26"
dir-diff = "0.3.2"
directories = "5.0.1"
fern = { version = "0.6.1", features = ["date-based", "colored"] }
flate2 = "1.0.26"
fs_extra = "1.3.0"
futures-util = "0.3.26"
log = "0.4.19"
reqwest = { version = "0.11", features = ["json"] }
rev_buf_reader = "0.3.0"
semver = "1.0.18"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.103"
sysinfo = "0.29.5"
tar = "0.4.39"
tauri = { version = "1.4.1", features = ["api-all", "devtools", "reqwest-client"] }
thiserror = "1.0.43"
tokio = { version = "1", features = ["full"] }
walkdir = "2.3.2"
wgpu = "0.16.2"
zip = { version = "0.6.2" }
zip-extract = "0.1.1"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
