[package]
name = "opengoal-launcher"
version = "2.4.1" # APP_VERSION
description = "A frontend for the OpenGOAL project"
authors = ["OpenGOAL"]
license = "ISC"
repository = "https://github.com/open-goal/launcher"
default-run = "opengoal-launcher"
edition = "2021"
rust-version = "1.61"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.5.1", features = [] }

[dependencies]
backtrace = "0.3.69"
chrono = "0.4.33"
dir-diff = "0.3.3"
directories = "5.0.1"
fern = { version = "0.6.1", features = ["date-based", "colored"] }
flate2 = "1.0.28"
fs_extra = "1.3.0"
futures-util = "0.3.30"
glob = "0.3.1"
log = "0.4.20"
reqwest = { version = "0.11", features = ["json"] }
rev_buf_reader = "0.3.0"
semver = "1.0.21"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.113"
sysinfo = "0.30.5"
tar = "0.4.40"
tauri = { version = "1.5.4", features = ["api-all", "devtools", "reqwest-client"] }
thiserror = "1.0.56"
tokio = { version = "1", features = ["full"] }
walkdir = "2.4.0"
wgpu = "0.19.1"
zip = { version = "0.6.2" }
zip-extract = "0.1.3"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

[profile.release]
strip = true  # Automatically strip symbols from the binary.
