.logContainer {
  max-height: 10em;
  overflow-y: scroll;
  padding: 1em;
  background: black;
  white-space: pre-wrap;
  font-family: monospace;
}

details {
  min-width: 75vw;
  max-width: 75vw;
}

summary {
  text-align: center;
}

.logContainer {
  text-align: start;
}

details > summary:hover {
  cursor: pointer;
}
