:root {
  --bg-blue: #1B202B;
}

body{
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {  
  display: grid;
  grid-template-columns: 0.10fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidenav body"
    "sidenav body";
    height: 100vh;
}

.background-container {
  z-index: -1;
  position: absolute;
  height: 100vh;
}

/* for image overlay use position: fixed, for video overlay use position: absolute */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  opacity: 0.35;
}

.background {
  height: 100vh;
  -webkit-user-drag: none;
}

video {
  height: 100vh;
}

.body {  
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". logo ."
    ". buttons ."
    ". . .";
  grid-area: body;
}

.logo {
  align-self: center;
  grid-area: logo;
  -webkit-user-drag: none;
}

.buttons {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "config play";
  justify-self: stretch;
  align-self: center;
  grid-area: buttons;
}

.config {
  justify-self: center;
  grid-area: config;
}

.play {
  justify-self: center;
  grid-area: play;
}

.sidenav {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "games"
    "settings";
  grid-area: sidenav;
  background-color: var(--bg-blue);
  opacity: 50%;
  transition: 500ms ease;
}

.sidenav:hover {
  opacity: 100%;
}

.nav-item {
  filter: grayscale(100%);
  transition: 500ms ease;
  opacity: 50%;
}

.nav-item:hover{
  filter: grayscale(0%);
  opacity: 100%;
}

.games {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: center;
  grid-template-areas:
    "btn_jak1"
    "btn_jak2"
    "btn_jak3";
  grid-area: games;
}

.games .nav-item img{
  width: 70%;
  padding: 0 15%;
  -webkit-user-drag: none;
}

.btn_jak1 {
  justify-self: center;
  grid-area: btn_jak1;
}

.btn_jak2 {
  justify-self: center;
  grid-area: btn_jak2;
}

.btn_jak3 {
  justify-self: center;
  grid-area: btn_jak3;
}

.settings {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "."
    "btn_console"
    "btn_settings";
  grid-area: settings;
}

.settings a {
  -webkit-user-drag: none;
}

.settings i {
  font-size: 2em;
  color: white;
}

.buttons button {
  background: linear-gradient(to top, #F3B33F, #FBEC4F);
  border: none;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 3px;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
  text-shadow: 0 0 5px black;
  min-height: 50px;
  min-width: 250px;
  border-radius: 5px;
}

.btn_settings {
  justify-self: center;
  grid-area: btn_settings;
}

.btn_console {
  justify-self: center;
  grid-area: btn_console;
}

.sidenav a:hover{
  filter: grayscale(0%);
  opacity: 100%;
}