:root {
  --bg-blue: #1B202B;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container{
  padding: 0;
  max-width: 100vw;
}

.logo {
  width: 60vw;
  margin: 15px 0;
  -webkit-user-drag: none;
}

.video-container {
  position: absolute;
  z-index: -1;
}

/* for image overlay use position: fixed, for video overlay use position: absolute */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

#background {
  width: 100%;
  height: 100vh;
  -webkit-user-drag: none;
}

/* buttons div */
#buttons {
  margin: 40px 0;
  gap: 0 10px;
}

/* config and play button */
#buttons > button {
  background-color: teal;
  width: 30%;
  border-radius: 0;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 3px;
}


/* START of sidenav styling */
.sidenav{
  width: 3rem;
  height: 100vh;
  background-color: var(--bg-blue);
  opacity: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 200ms ease;
}

.sidenav-nav{
  list-style: none;
  padding: 0;
  margin: 5px;
}

.sidenav:hover {
  width: 5rem;
  opacity: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  -webkit-user-drag: none;
  padding: 0;
  filter: grayscale(100%);
  transition: 400ms ease;
}

.nav-link:hover{
  filter: grayscale(0%);
}

.nav-img {
  width: 100%;
  -webkit-user-drag: none;
}

.nav-item:first-child  {
  margin-bottom: 2rem;
}

.nav-link:last-child {
  opacity: 50%;
}

.nav-link:last-child:hover {
  opacity: 100%;
}

/* END of sidenav styling */