.progress {
  display: flex;
  overflow: hidden;
  height: 30px;
  background-color: #ecf0f1;
  width: 75%;
  margin: 20px auto;
}

.progress-bar {
  overflow: hidden;
  text-align: center;
  background-color: dodgerblue;
}

.progress-bar-animated {
  position: relative;
}

.progress-bar-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
  transform: translateX(-100%);
  animation: progress-bar-shine 2s infinite;
}

@keyframes progress-bar-shine {
  to {
    transform: translateX(0);
    opacity: 0.1;
  }
}

.status {
  justify-content: center;
  align-items: center;
  text-align: center;
}
