@font-face {
  font-family: "Noto Sans Mono";
  src: url("/src/assets/fonts/noto-sans/NotoSansMono-VariableFont.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/src/assets/fonts/noto-sans/NotoSans-VariableFont.woff2")
    format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.font-mono {
  font-family: "Noto Sans Mono", monospace !important;
}

.font-mono span {
  font-family: "Noto Sans Mono", monospace !important;
}
