:root {
  --bg-blue: #1B202B;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-blue);
  overflow: hidden;
}

.container{
  padding: 0;
  max-width: 100vw;
}

header{
  background: var(--bg-blue);
  border-bottom: 1px solid darkgray;
  padding: .5em 1em;
}

.logo {
  width: 20%;
  -webkit-user-drag: none;
}

nav {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg-blue);
  border-right: 1px solid darkgray;
  padding: 1rem;
  gap: 3rem;
}

.nav-link {
  display: flex;
  justify-content: center;
  -webkit-user-drag: none;
  padding: 0;
}

.nav-img {
  width: 80%;
  -webkit-user-drag: none;
}

nav > .settings {
  margin-top: 340px;
}

.game-bg{
  position:fixed;
  width: 110%;
  -webkit-user-drag: none;
  z-index: -2;
}

.model {
  position: fixed;
  height: 80%;
  right: 155px;
  top: 170px;
  z-index: -1;
}

.game-logo {
  position: fixed;
  width: 40%;
  padding: 10px;
  z-index: -1;
}

.game-box {
  z-index: 1;
  padding-left: 2em;
  padding-top: 53%;
  min-height: 100%;
}

.btn-play {
  padding: .15em 2em;
  border-radius: 0;
  font-weight: bold;
  font-size: xxx-large;
  letter-spacing: 3px;
}