@import "tailwindcss";

@plugin 'flowbite/plugin';
@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

:root {
  --launcher-font-family: "Noto Sans";
  --launcher-font-mono-family: "Noto Sans Mono";
}

* {
  -webkit-user-drag: none;
}

html,
body {
  font-family: "Twemoji Country Flags", var(--launcher-font-family), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  color: white;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #18181b;
  border-radius: 2px;
  border: 3px solid #c2410c;
}

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
