@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/src/assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/src/assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
  font-weight: 700;
}

* {
  -webkit-user-drag: none;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.btn {
  text-align: center;
  background: linear-gradient(to top, #f3b33f, #fbec4f);
  border: none;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  border: black 1px solid;
  border-radius: 5px;
  transition: all 0.1s ease;
  color: black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #18181b;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #18181b;
  border-radius: 2px;
  border: 3px solid #c2410c;
}

.text-outline {
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.log-accordian > div > div.p-5 {
  /* TODO - no idea how else to customize the div that wraps the body slot in the accordian? */
  padding: 0;
}
