* {
  -webkit-user-drag: none;
  font-family: "Oswald", sans-serif;
}

:root {
  --bg-blue: #1b202b;
}

@font-face {
  font-family: "Oswald";
  src: url("/src/assets/fonts/Oswald-VariableFont_wght.ttf");
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.video-container {
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;
  width: 100%;
  height: 100vh;
  opacity: 0.35;
}

#backgroundVideo {
  z-index: -1;
  height: 100vh;
}

.container {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-blue);
  opacity: 75%;
  transition: 500ms ease;
  width: 10vw;
  max-width: 10vw;
}

#sidebar:hover {
  opacity: 100%;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

.nav-item {
  margin: 0 5px;
  filter: grayscale(100%);
  transition: 500ms ease;
  opacity: 50%;
}

.nav-item.active {
  filter: grayscale(0%);
}

.nav-item:hover {
  filter: grayscale(0%);
  opacity: 100%;
  cursor: pointer;
}

.nav-item.disabled:hover,
.nav-item.disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.nav-item a::before,
.nav-item a::after {
  --scale: 0;
  position: absolute;
  transform: translateX(55px) scale(var(--scale));
  transition: 200ms ease;
  transform-origin: left center;
}

.nav-item a::before {
  padding: 0.5rem;
  width: max-content;
  background: #333;
  color: white;
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  text-align: center;
}

.nav-item a:hover::before {
  --scale: 1;
}

.nav-item img {
  width: 100%;
}

.spacer {
  display: flex;
  height: 20vh;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
}

.controls i {
  color: white;
  font-size: 35px;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  max-width: 90vw;
  overflow-y: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-center > div {
  margin: 15px 0;
}

.btn {
  text-align: center;
  background: linear-gradient(to top, #f3b33f, #fbec4f);
  border: none;
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  border: black 1px solid;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.1s ease;
  color: black;
}

.btn.lg {
  min-width: 200px;
  padding: 10px 0;
  font-weight: bold;
  font-size: x-large;
}

.btn:not(:last-child) {
  margin-right: 1em;
}

.btn:enabled:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.btn:enabled:hover {
  cursor: pointer;
  color: orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn:disabled {
  cursor: not-allowed;
  filter: opacity(50%);
}

.btn:disabled:hover {
  cursor: not-allowed;
}

.loader {
  border: 0.25em solid #f3f3f3;
  margin-right: 0.5em;
  margin-left: 0.1em;
  border-top: 0.25em solid #3498db;
  border-radius: 100%;
  width: 0.5em;
  height: 0.5em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress-row {
  display: flex;
  align-items: center;
}

.content {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: auto;
}

.logContainer {
  max-height: 10em;
  overflow-y: scroll;
  padding: 1em;
  background: black;
  white-space: pre-wrap;
  font-family: monospace;
}

.errorLogs {
  font-family: monospace;
  white-space: pre-wrap;
  color: #cd5c5c;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}

details > summary:hover {
  cursor: pointer;
}

.progress-row a {
  text-decoration: none;
  color: #ffa500;
}

.progress-row a:hover {
  color: #ffbd42;
}

.orange-text {
  color: #ffa500;
}

ul.no-decoration {
  list-style-type: none;
  padding-left: 2em;
}

.error-row {
  background-color: #782323;
  padding: 1em;
  border-radius: 0.25em;
  margin-top: 0.5em;
}

.error-row * {
  margin: 0;
  padding: 0;
}
