#sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-blue);
  opacity: 75%;
  transition: 500ms ease;
  width: 10vw;
  max-width: 10vw;
}

#sidebar:hover {
  opacity: 100%;
}

.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}

.nav-item {
  margin: 0 5px;
  filter: grayscale(100%);
  transition: 500ms ease;
  opacity: 50%;
}

.nav-item.active {
  filter: grayscale(0%);
}

.nav-item:hover {
  filter: grayscale(0%);
  opacity: 100%;
  cursor: pointer;
}

.nav-item.disabled:hover,
.nav-item.disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.nav-item a::before,
.nav-item a::after {
  --scale: 0;
  position: absolute;
  transform: translateX(55px) scale(var(--scale));
  transition: 200ms ease;
  transform-origin: left center;
}

.nav-item a::before {
  padding: 0.5rem;
  width: max-content;
  background: #333;
  color: white;
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  text-align: center;
}

.nav-item a:hover::before {
  --scale: 1;
}

.nav-item img {
  width: 100%;
}
